---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <header
      class="px-10 py-3 flex items-center fixed top-0 justify-between w-[100%] z-40 text-white"
    >
      <div class="flex flex-grow basis-0">
        <svg
          class="h-6 w-28 transition-colors duration-500"
          viewBox="0 0 342 35"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M0 .1a9.7 9.7 0 0 0 7 7h11l.5.1v27.6h6.8V7.3L26 7h11a9.8 9.8 0 0 0 7-7H0zm238.6 0h-6.8v34.8H263a9.7 9.7 0 0 0 6-6.8h-30.3V0zm-52.3 6.8c3.6-1 6.6-3.8 7.4-6.9l-38.1.1v20.6h31.1v7.2h-24.4a13.6 13.6 0 0 0-8.7 7h39.9v-21h-31.2v-7h24zm116.2 28h6.7v-14h24.6v14h6.7v-21h-38zM85.3 7h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 13.8h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 14.1h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zM308.5 7h26a9.6 9.6 0 0 0 7-7h-40a9.6 9.6 0 0 0 7 7z"
            fill="currentColor"></path></svg
        >
      </div>
      <nav>
        <ul
          class="flex text-sm [&>li>a]:text-white [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
        >
          <li><a href="#">Model S</a></li>
          <li><a href="#">Model 3</a></li>
          <li><a href="#">Model X</a></li>
          <li><a href="#">Model Y</a></li>
          <li><a href="#">Powerall</a></li>
          <li><a href="#">Carga</a></li>
        </ul>
      </nav>
      <nav class="flex flex-grow basis-0 justify-end">
        <ul
          class="flex text-sm [&>li>a]:text-white [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
        >
          <li><a href="#">Soporte</a></li>
          <li><a href="#">Tienda</a></li>
          <li><a href="#">Cuenta</a></li>
          <li><a href="#">Menu</a></li>
        </ul>
      </nav>
    </header>
    <section
      class="bg-black h-screen w-screen text-center relative overflow-hidden z-30"
    >
      <div class="z-30 relative flex flex-col flex-grow h-full">
        <header>
          <h2 class="text-white pt-[80px] text-5xl font-medium">
            Disfrute de Tesla
          </h2>
          <p class="text-white text-base">
            Programe una prueba de conduccion hoy mismo
          </p>
        </header>
        <footer class="flex items-end justify-center flex-grow">
          <a
            href="#"
            class="text-white text-sm p-2 rounded-md border-[3px] border-white my-[5rem] px-12 hover:bg-white transition hover:text-black font-medium"
          >
            Prueba de conduccion</a
          >
        </footer>
      </div>

      <div class="absolute top-0 bottom-0 h-full">
        <video
          class="h-screen w-screen object-cover"
          src="/video.mp4"
          autoplay
          muted
          loop></video>
      </div>
    </section>
  </main>
</Layout>

<style></style>
