---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import ChargeSection from "../components/ChargeSection.astro";
---

<Layout title="Welcome to Astro.">
  <LandingHeader />
  <main
    class="snap-y overflow-y-auto snap-mandatory relative w-full h-screen overflow-x-hidden"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ChargeSection />
    </div>
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <HeroSection />
    </div>
  </main>
</Layout>

<style></style>
