<section
  class="bg-black h-screen w-screen text-center relative overflow-hidden z-30 landing-section"
  data-header-color="black"
>
  <div class="z-30 relative flex flex-col flex-grow h-full">
    <header>
      <h2 class="text-black pt-[80px] text-5xl font-medium">Model 3</h2>
      <p class="text-black text-base">Arrendamiento desde $429/mes</p>
    </header>
    <footer class="flex items-end justify-center flex-grow gap-4">
      <a
        href="#"
        class="text-black text-sm p-2 rounded-md border-[3px] border-gray-600 my-[5rem] px-12 hover:bg-gray-600 transition hover:text-white font-medium"
      >
        Prueba de conduccion</a
      >
      <a
        href="#"
        class="text-black text-sm p-2 rounded-md border-[3px] border-gray-600 my-[5rem] px-12 hover:bg-gray-600 transition hover:text-white font-medium"
      >
        Prueba de conduccion</a
      >
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full">
    <img
      src="/Model 3.avif"
      alt="Model 3"
      class="h-screen w-screen object-cover"
    />
  </div>
</section>
