<section
  class="bg-black h-screen w-screen text-center relative overflow-hidden z-30 landing-section"
  data-header-color="white"
>
  <div class="z-30 relative flex flex-col flex-grow h-full">
    <header>
      <h2 class="text-white pt-[80px] text-5xl font-medium">
        Disfrute de Tesla
      </h2>
      <p class="text-white text-base">
        Programe una prueba de conduccion hoy mismo
      </p>
    </header>
    <footer class="flex items-end justify-center flex-grow">
      <a
        href="#"
        class="text-white text-sm p-2 rounded-md border-[3px] border-white my-[5rem] px-12 hover:bg-white transition hover:text-black font-medium"
      >
        Prueba de conduccion</a
      >
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full">
    <video
      class="h-screen w-screen object-cover"
      src="/video.mp4"
      autoplay
      muted
      loop></video>
  </div>
</section>
